html {
  font-family: 'MuseoModerno', cursive;
  min-width: 620px;
}

.body {
  min-width: 620px;
}

.first-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-flex .menu i {
  display: none;
}

.first-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first-flex ul .center {
  margin-left: -15px;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 700;
}

.first-flex ul .center span {
  color: red;
  margin-left: -5px;
}

.first-flex ul img {
  margin-right: -10px;
}

.first-flex ul .registrar {
  background-color: red;
  border-radius: 40%;
}

.first-flex ul .registrar a {
  color: white;
}

.first-flex ul li {
  padding: 13px;
  list-style: none;
}

.first-flex ul li a {
  text-decoration: none;
  color: black;
}

.contenedor {
  margin-right: 150px;
  margin-left: 100px;
  margin-top: -10px;
}

.hide-menu {
  background-color: black;
  margin-top: -20px;
  height: 460px;
  -webkit-transition: height 3s ease-in;
  transition: height 3s ease-in;
}

.hide-menu ul li {
  list-style: none;
  padding: 15px 10px;
  margin-left: 69px;
}

.hide-menu ul li a {
  text-decoration: none;
  color: white;
}

.oculto {
  display: none;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
}

.row .col .m12 .slider .slides li .caption p {
  color: red;
}

.hide {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.third-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-flex .panel {
  background-color: red;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.third-flex .panel ul li a:hover {
  color: white;
}

.third-flex .panel ul li {
  padding: 20px 10px;
}

.third-flex .panel ul li i {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.third-flex .panel ul li a {
  text-decoration: none;
  color: #bdb6b6;
  font-size: 20px;
}

.third-flex .panel .color a {
  color: white;
}

.third-flex .contenido {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.third-flex .contenido ul li {
  margin-left: 30px;
  padding: 10px 20px;
}

.third-flex .contenido i {
  color: red;
  font-size: 50px;
}

.third-flex .contenido a {
  color: gray;
}

.hero {
  background-image: url(img/toyota5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero ul li {
  background-color: white;
  width: 500px;
  opacity: .7;
  margin-bottom: -29px;
  height: 155px;
  margin-left: 0px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-attachment: fixed;
  list-style: none;
}

.hero ul li a {
  text-decoration: none;
  color: black;
}

.hero ul li a h3 {
  opacity: 1;
  color: red;
  padding: 0px 10px;
}

.hero ul li a p {
  font-size: 17px;
  padding: 0px 10px;
}

.hero ul li:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: 70px;
}

.mover ul li {
  margin-right: -30px;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.informacion {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.informacion h6 {
  margin-top: 70px;
  color: red;
}

.informacion p {
  margin-top: 30px;
  opacity: .5;
}

.informacion .crecer {
  height: 700px;
  background-color: red;
}

.forth-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.forth-flex .locacion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 40px);
          flex: 0 1 calc(50% - 40px);
}

.forth-flex .locacion img {
  width: 590px;
  margin-left: 20px;
  height: 380px;
}

.forth-flex .formulario {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - -0px);
          flex: 1 0 calc(50% - -0px);
  margin-right: 30px;
}

.card-panel {
  background-image: url(img/toyota4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.five-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

.five-flex ul li {
  color: gray;
  padding: 10px;
}

.five-flex ul li h5 {
  color: white;
  opacity: 1;
}

.five-flex ul li i {
  font-size: 20px;
  margin: 20px;
}

.five-flex a {
  color: white;
}

.five-flex span {
  color: black;
}

@media only screen and (max-width: 1100px) {
  .first-flex {
    background-color: black;
    height: 70px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .first-flex ul li a {
    color: white;
    margin-left: -40px;
  }
  .first-flex ul li a img {
    margin-left: -90px;
  }
  .first-flex .menu i {
    margin-right: 20px;
    display: block;
  }
  .first-flex .ocultar {
    display: none;
  }
  .first-flex #boton {
    margin-right: -60px;
    color: gray;
  }
  .oculto {
    display: block;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    height: 0px;
  }
  .oculto .lado {
    margin-left: -160px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .contenedor {
    margin-left: 0;
    margin-right: 0;
  }
  .hide-menu {
    display: block;
    -webkit-transition: height 1s ease-in;
    transition: height 1s ease-in;
  }
  .hero ul li {
    margin-left: 0px;
  }
  .hero ul li:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 70px;
  }
  .forth-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forth-flex .locacion {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .forth-flex .locacion img {
    width: 100%;
    margin-left: 10px;
  }
  .forth-flex .formulario {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .five-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=estilos.css.map */